table.table {
    width: 100%;
}

table.table th {
    padding: .5rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

table.table td {
    padding: .5rem;
    vertical-align: middle;
}

table.table tbody tr:hover {
    background: #dedede;
}

table.table.striped tr:nth-child(even) {
    background: rgba(0,0,0,.1);
}

