.notify {
    width: 100%;
    background: white;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.info {
    background: #4DE1FF;
}

.warn {
    background: #FFDE4D;
}

.error {
    background: #FF4D4D;
    color: white;
}

.success {
    color: white;
    background: #4BB543;
}
