main {
    padding: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    flex: 1 0 auto;
    margin: 0 .5rem;
}
.col:first-child {
    margin: 0;
    margin-right: .5rem;
}
.col:last-child {
    margin: 0;
    margin-left: .5rem;
}
.col:only-child {
    margin: 0;
}
