main {
    padding: 1rem;
}

section.container {
    margin-top: 2rem;
    padding: 0 15rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row.center {
    justify-content: center;
}
.row.end {
    justify-content: flex-end;
}
.row.start {
    justify-content: flex-start;
}
.row.around {
    justify-content: space-around;
}
.row.between {
    justify-content: space-between;
}

.col {
    flex: 1 0 auto;
    margin: 0 .5rem;
}
.col:first-child {
    margin: 0;
    margin-right: .5rem;
}
.col:last-child {
    margin: 0;
    margin-left: .5rem;
}
.col:only-child {
    margin: 0;
}

.col.collapse {
    flex: 0 0 auto;
}

@media (max-width: 80rem) {
    section.container {
        padding: 0 10rem;
    }
}

@media (max-width: 60rem) {
    section.container {
        padding: 0 5rem;
    }
}

@media (max-width: 40rem) {
    section.container {
        padding: 0;
    }
    .row {
        flex-direction: column;
    }
    .col, .col:first-child, .col:last-child, .col:only-child {
        margin: 0;
        width: 100%;
    }
}
